---
---

@import "{{ site.theme }}";

span.latest, span.coming {
  font-size: .5em;
  border: thin solid #ccc;
  color: #ccc;
  background: #eee;
  padding: .3em .5em;
  margin: 0;
  margin-left: 1em;
  border-radius: .25em;
}

span.latest { 
  border-color: #6cc;
  color: #6cc;
  background: #cee;
} 
span.coming { 
  border-color: #c6a;
  color: #c6a;
  background: #ecd;
} 
