---
---

@import "{{ site.theme }}";

span.latest, span.coming {
  font-size: .5em;
  border: thin solid #999;
  color: #999;
  background: #eee;
  padding: .3em .5em;
  margin: 0;
  margin-left: 1em;
  border-radius: .25em;
}

span.latest { 
  border-color: #141;
  color: #141;
  background: #aea;
} 
span.coming { 
  border-color: #643;
  color: #643;
  background: #dcb;
} 
