---
---

@import "{{ site.theme }}";

span.latest, span.coming {
  font-size: 90%;
  border: thin solid #ccc;
  background: #eee;
  padding: .2em .4em;
  margin: 0;
  margin-left: 1em;
}

span.latest { 
  border-color: #c6a;
  background: #ecd;
} 
span.coming { 
  border-color: #6cc;
  background: #cee;
} 
